@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  background-color: #FFFFFF;
  font-family: 'Georgia, serif';
}

.MuiAppBar-root {
  background-color: #B22222;
}

.MuiTypography-root {
  margin-top: auto;
  margin-bottom: auto;
}

button {
  background-color: #FFFFFF;
  color: #B22222;
}

button:hover {
  background-color: #FFFAFA;
  color: #000000;
}

a {
  color: #B22222;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.pulsing {
  animation: pulse 0.3s ease-in-out;
}